@using Stimulsoft.Report.Mvc;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
               {
                   Actions =
                   {
                       GetReportSnapshot = "GetReportSnapshot",
                       ViewerEvent = "ViewerEvent"
                   }
               })


    </div>
</body>
</html>
